/* components/song-item-v1/song-item-v1.wxss */
.song-item {
  display: flex;
  padding: 16rpx 0;
  align-items: center;
  .image {
    width: 120rpx;
    height: 120rpx;
    border-radius: 16rpx;
  }
  .content {
    margin-left: 16rpx;
    flex: 1;
    .content-top {
      display: flex;
      align-items: center;
      .name {
        font-size: 30rpx;
        color: #555;
      }
      .active {
        color: #c70c0c;
      }
      .vip-icon {
        margin-left: 10rpx;
        width: 40rpx;
        height: 20rpx;
      }
    }
    .source {
      margin-top: 16rpx;
      font-size: 24rpx;
      color: #999;
    }
  }
  .audio-beat {
    margin-right: 24rpx;
  }
}
