/* components/song-item-v2/song-item-v2.wxss */
.item {
  display: flex;
  margin-bottom: 50rpx;
  .info {
    margin-left: 25rpx;
    .source {
      margin-top: 10rpx;
      display: flex;
      align-items: center;
      .icon {
        width: 45rpx;
        margin-right: 10rpx;
      }
      .ar {
        font-size: 28rpx;
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}
